* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

:root {
    --primary: #104cba;
    --bg-dark: #262f53;
    --white: #fff;
    --light-blue: #E7EDF8;
    --dark-blue: #1D2C38;
    --gray: #818a90;
}

body,
a,
input,
button {
    font-family: 'Nunito';
}

.container {
    max-width: 1140px;
    margin: auto;
}

.font-rubik {
    font-family: 'Rubik';
}

.text-center {
    text-align: center;
}

.row {
    display: flex;
    flex-wrap: wrap
}

.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12 {
    padding: 15px;
}

.col-xs-1 {
    width: 8.3333%
}

.col-xs-2 {
    width: 16.6666%
}

.col-xs-3 {
    width: 25%
}

.col-xs-4 {
    width: 33.3333%
}

.col-xs-5 {
    width: 41.6666%
}

.col-xs-6 {
    width: 50%
}

.col-xs-7 {
    width: 58.3333%
}

.col-xs-8 {
    width: 66.6666%
}

.col-xs-9 {
    width: 75%
}

.col-xs-10 {
    width: 83.3333%
}

.col-xs-11 {
    width: 91.6666%
}

.col-xs-12 {
    width: 100%
}


.align-item-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.padding80 {
    padding: 80px 0;
}

.bg-dark {
    background-color: var(--bg-dark);
}

.bg-primary {
    background-color: var(--primary);
}

.bg-white {
    background-color: var(--white);
}

.text-white {
    color: var(--white);
}

.bg-light-blue {
    background-color: var(--light-blue);
}

.bg-dark-blue {
    background-color: var(--dark-blue);
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

.common-heading h2 {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--primary);
}

.common-heading h3 {
    font-size: 36px;
    color: var(--bg-dark);
    padding: 15px;
}

/* header  */
header {
    background-color: var(--bg-dark);
}

header a {
    color: var(--white);
}

header .topbar {
    padding: 15px;
    border-bottom: 0.1px solid #4f5979;
}

header .main {
    padding: 15px;
    position: sticky;
    top: 0;
    border-bottom: 0.1px solid #4f5979;
}

header .topbar .icons a {
    padding: 15px 5px;
}

header .topbar ul li a {
    font-weight: 700;
    padding: 15px 0;
    padding-right: 35px;
}

header .logo a {
    font-size: 50px;
}

header nav ul li a {
    display: inline-block;
    padding: 15px;
    font-weight: 600;
    font-size: 18px;
    position: relative;
}

.megamenu,
.dropdown {
    position: absolute;
    background-color: white;
    transition: all 0.5s;
    transform-origin: top;
    transform: scaleY(0);
}

.dropdown {
    width: 200px;
}

.megamenu {
    width: 1140px;
    left: 0;
    right: 0;
    margin: auto;
}

.megamenu h2 {
    font-size: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--bg-dark);
    margin-bottom: 2px;
    color: var(--bg-dark);
}

.megamenu ol li a,
.dropdown ol li a {
    color: var(--dark-blue);
    padding: 8px;
    font-size: 16px;
}

.dropdown ol li a {
    font-size: 20px;
    padding: 15px;
}

.megamenu ol li:hover a {
    color: var(--primary);
}

header nav ul li:hover .megamenu,
header nav ul li:hover .dropdown {
    transform: scaleZ(1);
}

header ul li .label {
    font-size: 10px;
    position: absolute;
    bottom: 100%;
    right: 0;
    border-radius: 5px;
    padding: 5px;
    background-color: var(--primary);
}

header ul li .label::after {
    content: "";
    padding: 3px;
    top: 15px;
    position: absolute;
    left: auto;
    right: 22px;
    width: 0;
    height: 0;
    border-bottom: 12px solid transparent;
    border-left: 22px solid var(--primary);
    border-top: 0px solid transparent;
}

header .toggle {
    color: var(--white);
    font-size: 24px;
    display: none;
    cursor: pointer;
}

/* banner section css  */
.banner .banner-content h1 {
    font-size: 72px;
    padding: 30px 0;
}

.banner-img {
    position: relative;
}

.banner-img .banner-circle-1 {
    width: 100px;
    border-radius: 100%;
    position: absolute;
    top: 10%;
    animation: bounce 2s ease-out infinite;
    height: 100px;
    z-index: 3;
    background-color: var(--primary);
}

.banner-img img {
    position: relative;
    z-index: 2;
}

.banner-img .banner-circle-2 {
    width: 250px;
    border-radius: 100%;
    position: absolute;
    top: 60%;
    right: 0;
    z-index: 1;
    animation: bounce 2s ease-out infinite;
    height: 250px;
    background-color: var(--white);
    opacity: 0.1;
    animation-duration: 9s;
}

@keyframes bounce {

    0%,
    20%,
    53%,
    100% {
        transform: translateZ(0);
    }

    40%,
    43% {
        transform: translate3d(0, -30px, 0) scaleY(1.1)
    }

    70% {
        transform: translate3d(0, -15px, 0) scaleY(1.05);
    }

    80% {
        transform: translateZ(0) scaleY(.95);
    }

    90% {
        transform: translate3d(0, -4px, 0) scaleY(1.02);
    }
}

/* services   section css*/
.services-img-box {
    padding: 25px;
    border-radius: 15px;
}

.services-img-box h3 {
    color: var(--dark-blue);
    cursor: pointer;
    transition: all 0.5s;
}

.services-img-box h3:hover {
    color: var(--primary);
}

.service {
    position: relative;
}

.service-up {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    transform: translateY(-50%);
    right: 0;
    margin: auto;
}

.service .primary-btn {
    background-color: rgba(255, 255, 255, 0.1);
}

.services-content {
    padding-top: 100px;
}

.services-content h4 {
    font-size: 36px;
}

/* about section css  */
.about-img {
    position: relative;
}

.img-box {
    width: 200px;
    position: absolute;
    bottom: -10%;
    height: 200px;
    z-index: -1;
    animation: bounce 9s infinite;
    left: -10%;
    background-image: url(../img/dots.svg);
}

.about-content h2 {
    color: var(--primary);
    font-size: 16px;
    font-weight: 600;
}

.about-content h3 {
    font-size: 36px;
    color: var(--dark-blue);
    padding: 15px 0;
}

.about-content p {
    font-size: 16px;
    color: var(--dark-blue);
    padding-bottom: 15px;
}

.about-content ul li i {
    color: var(--primary);
    padding-right: 15px;
}

.about-content ul li {
    padding: 8px 0;
}

.about-content .primary-btn {
    background-color: var(--light-blue);
    color: var(--primary);
    margin-top: 20px;
}




.primary-btn {
    background-color: var(--primary);
    padding: 15px 30px;
    border: none;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 8px;
    color: var(--white);
    transition: all 0.5s;
}

.primary-btn:hover {
    background-color: var(--dark-blue);
    color: var(--white);
}

.swiper-slide {
    text-align: center;
}

.help-bg {
    background: #0E1E2A url(../img/abanner.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: contain;
    padding-bottom: 300px;
}

.help .primary-btn {
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0.1);
}

.help .primary-btn:hover {
    background-color: white;
    color: var(--dark-blue);
}

.help h3 {
    font-size: 16px;
}

.help h4 {
    font-size: 36px;
}

.help .help-box {
    padding-top: 50px;
}

.help .icon-box {
    width: 100px;
    height: 100px;
    background-color: var(--white);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.help .help-box h2 {
    padding: 20px 0;
}

.help .help-box p {
    opacity: 0.5;
}

/* get in touch  */
.counter-getintouch {
    position: relative;
    padding-bottom: 100px;
    padding-top: 25%;
}

.getintouch {
    position: absolute;
    top: -50%;
    background-color: var(--white);
}

.getintouch input,
.getintouch textarea {
    display: block;
    width: 100%;
    padding: 15px 30px;
    border: 1px solid var(--gray);
    border-radius: 10px;
}

.getintouch h2 {
    padding: 20px 15px;
    color: var(--dark-blue);
    font-size: 34px;
}

.getintouch .input-box {
    position: relative;
}

.getintouch .input-box i {
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    right: 35px;
    color: var(--primary);
}

.getintouch .input-box .fa-pencil {
    top: 35px;
}

.getintouch-img {
    position: relative;
}

.getintouch-img .info {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    font-size: 18px;
    padding: 25px;
    color: var(--white);
    font-weight: 700;
}

.getintouch-img p i {
    width: 50px;
    height: 50px;
    background-color: var(--white);
    border-radius: 100%;
    color: var(--primary);
    text-align: center;
    font-size: 18px;
    line-height: 50px;
}

/* counter  */
.counter-box {
    text-align: center;
}

.counter-box h3 {
    font-size: 34px;
    color: var(--primary);
}

.counter-box p {
    font-size: 22px;
    letter-spacing: 1px;
    color: var(--bg-dark);
    font-weight: 700;
}

/* team section  */

.team-box img {
    border-radius: 10px;
}

.team-box .team-info {
    background-color: var(--white);
    padding: 15px;
    transition: all 0.5s;
    border-radius: 10px;
    margin-top: 10px;
    color: var(--bg-dark);
}

.team-info h4 {
    font-size: 18px;
}

.team-info p {
    font-size: 16px;
}

.team-box:hover .team-info {
    background-color: var(--primary);
    color: var(--white);
}

.read-more>i {
    width: 130px;
    height: 130px;
    border-radius: 100%;
    text-align: center;
    line-height: 130px;
    font-size: 65px;
    color: var(--white);
    background-color: var(--primary);

}

.read-more h6 {
    font-size: 22px;
    font-weight: 500;
    color: var(--bg-dark);
    padding: 25px;
}

.read-more p {
    color: var(--dark-blue);
    font-size: 16px;
    line-height: 28px;
    padding-bottom: 15px;
}

.read-more a {
    color: var(--dark-blue);
    font-weight: 700;
}

/* subscribe section   */
.subscribe h2 {
    color: var(--white);
    font-size: 36px;
    font-weight: 700;
}

.subscribe .input-box {
    border: 2px solid var(--white);
    padding: 5px;
    border-radius: 5px;
    display: flex;
}

.subscribe .input-box input {
    display: block;
    width: 100%;
    background-color: transparent;
    border: none;
    padding: 15px;
    color: var(--white);
    outline: none;
}

.subscribe .input-box input[type="button"] {
    width: auto;
    background-color: var(--white);
    padding: 15px 30px;
    color: var(--dark-blue);
    font-size: 16px;
    font-weight: 700;
    border-radius: 5px;
}

.subscribe .input-box input::placeholder {
    color: var(--white);
}

/* gallery section  */
.gallery-box {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}

.gallery-content {
    position: absolute;
    background: linear-gradient(0deg, rgb(7 21 44) 0%, rgb(255 255 255 / 20%) 100%);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    flex-direction: column;
    display: flex;
    justify-content: flex-end;
    padding-left: 45px;
}

.gallery-content .divider {
    height: 1px;
    width: 100%;
    background-color: var(--light-blue);
    opacity: 0.2;
    margin: 15px 0;
}

.gallery-content h2 {
    font-size: 18px;
    color: var(--white);
    transition: all 0.5s;
    font-weight: 500;
}

.gallery-content h2:hover {
    color: var(--primary);
}

.gallery-content a {
    font-size: 16px;
    color: var(--white);
    transition: all 0.5s;
    padding-bottom: 20px;
    font-weight: 500;
}

.gallery-content a:hover {
    color: var(--primary);
}

/* news section  */
.news {
    background-image: url(../img/blogsbd.jpg);
    background-size: cover;
}

.news-img {
    position: relative;
}

.news-img .avtar {
    position: absolute;
    bottom: 0;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    left: 25px;
    transform: translatey(50%);
}

.news-content {
    padding: 35px;
}

.news-content ul li {
    padding-right: 25px;
    color: var(--bg-dark);
}

.news-content ul li a {
    color: var(--dark-blue);
    transition: all 0.5s;
}

.news-content ul li a:hover {
    color: var(--primary);
}

.news-content h4 {
    font-size: 20px;
    font-weight: 600;
    padding: 15px 0;
    color: var(--dark-blue);
}

.news-content p {
    color: var(--gray);
}

/* footer  */
footer {
    background: var(--bg-dark) url(../img/ftbg2.png);
}

.footer-service h2 {
    font-size: 16px;
    color: #bdc2cb;
    font-weight: 400;

}
.footer-service i{
    width: 40px;
    height: 40px;
    text-align: center;
    color: var(--white);
    line-height: 40px;
    margin-right: 20px;
    border-radius: 100%;
    background-color: var(--primary);
}
.footer-service p{
    color: var(--white);
    padding-top: 8px;
    font-size: 18px;
    font-weight: 500;
}
.border-right{
    border-right: 1px solid var(--gray);
}
.footer-box{
    color: var(--white);
}
.footer-box h3{
    font-size: 28px;
    padding-bottom: 25px;
    padding-top: 45px;
}
.footer-box label{
    opacity: 0.7;
    display: block;
    padding-bottom: 25px ;
}
.footer-box li {
    padding: 10px 0;
}
.footer-box li i{
    padding-right: 10px ;

}
.footer-box .input-box{
    border: 1px solid var(--primary);
    padding: 5px;
    border-radius: 30px;
    display: flex;
    margin-top: 20px;
}
.footer-box .input-box input{
    background-color:transparent;
    width: 100%;
    border: none;
    padding-left: 20px;
    color: var(--white);
}
.footer-box .input-box input::placeholder{
    color: var(--white);
}
.footer-box .input-box i{
    width: 30px;
    text-align: center;
    line-height: 30px;
    flex-grow: 0;
    height: 30px;
    background-color: var(--primary);
    border-radius: 100%;
}
.border{
    border: 1px solid var(--gray);
}
.copyright{
    padding: 15px 0;
    color: var(--white);
}
.copyright .icons i{
    padding-right: 10px;
}